<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/midaslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/midaslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MIDAS"
        tools:targetApi="32">
        <activity
            android:name=".Administrador.UsuarioSeleccionActivity"
            android:exported="false" />
        <activity
            android:name=".Recarga.PagoEfectivoActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.GestionarUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.GestionarReportesActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.MenuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Reportes.VerReporteActivity"
            android:exported="false" />
        <activity
            android:name=".Reportes.LlenarReporteActivity"
            android:exported="false" />
        <activity
            android:name=".Transferencia.TransferenciaExitosaActivity"
            android:exported="false" />
        <activity
            android:name=".Transferencia.ConfirmarTransferenciaActivity"
            android:exported="false" />
        <activity
            android:name=".Recarga.RecargarSaldoActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Transferencia.TransferenciaActivity"
            android:exported="false" />
        <activity
            android:name=".AperturarCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>